<!DOCTYPE html>
<html lang="en" xmlns:th-"http://www.tymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>
</head>

<body>
    <footer th:fragment="footer1(title,subtitle)">
        <div>
            <p th:text="${title}"></p>
            <p th:text="${subtitle}">Replace Example</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consectetur ad molestias temporibus enim
                ipsum ea aspernatur, excepturi iste accusantium!</p>

        </div>
    </footer>
</body>

</html>