<!DOCTYPE html>
<html lang="en" xmlns:th-"http://www.tymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragment Inheritance</title>
</head>

<body>
    <h2>About using fragment</h2>
    <section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum asperiores, vitae eveniet natus dolore
            alias, porro cupiditate quas quaerat deserunt esse placeat officiis recusandae, illum amet quam pariatur
            similique voluptates.</p>
    </section>
</body>

</html>