<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>
</head>

<body>
    <section class="col-md-9">
        <div class="container-fluid ">
            <div class=" card  ml-2">
                <div class="card-body ">
                    <h1 class="text-center">Add Contact</h1>

                    <div class="row">
                        <div class="col-md-10 offset-md-1 ">
                            <form action="#" th:object="${contact}" enctype="multipart/form-data" method="POST"
                                th:action="@{/users/process-contact}" class="mt-2">
                                <!---First NAme-->
                                <div th:if="${session.msg}" th:classAppend="${session.msg.getCssClass()}" class="alert"
                                    role="alert">
                                    <p class="text-center" th:text="${session.msg.getMessage()}"></p>

                                    <div th:text="${@sessionManager.removeVerificationMessageFromSession()}"></div>

                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text mr-3">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="firstName" name="name" placeholder="Enter name here"
                                        class="form-control" />
                                </div>
                                <!---Second Name-->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text mr-3">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="secondName" name="secondName"
                                        placeholder="Enter Nick name here" class="form-control" />
                                </div>
                                <!---Phone Number-->
                                <div class="input-group mt-3 ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text mr-3">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <input type="number" id="phone" name="phone" placeholder="Enter phone number here"
                                        class="form-control" />
                                </div>
                                <!---Email --->
                                <div class="input-group mt-3 ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text mr-3">
                                            @
                                        </div>
                                    </div>
                                    <input type="email" id="email" name="email" placeholder="Enter email here"
                                        class="form-control" />
                                </div>
                                <!--work Field--->
                                <div class="input-group mt-3 ">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text mr-3">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="work" name="work" placeholder="Enter work here"
                                        class="form-control" />
                                </div>
                                <!---contact description-->
                                <div class="form-group mt-3">
                                    <textarea placeholder="Enter Your description here" name="description"
                                        class="form-control" row="10" id="mytextarea"></textarea>
                                </div>
                                <div class="custom-file">
                                    <input type="file" name="profileImage" />
                                </div>
                                <div class="container text-center ">
                                    <button class="btn btn-outline-primary">Save Contact</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>

</html>